:root {
	--primary-color: #4834d4;
	--success-color: #6ab04c;
	--warning-color: #f0932b;
	--danger-color: #eb4d4b;

	--light-color: #212529;
	--light-second-color: #727475;
	--light-background: #ffffff;
	--light-second-background: #f1f1f1;

	--dark-color: #909090;
	--dark-second-color: #f5f6fa;
	--dark-background: #23242D;
	--dark-second-background: #181818;
}

.light {
	--main-card-color: var(--light-background);
	--main-bg-color: var(--light-background);
	--second-bg-color: var(--light-second-background);
	--main-color: var(--light-color);
	--second-color: var(--light-second-color);
}

.dark {
	--main-card-color: var(--dark-background);
	--main-bg-color: var(--dark-background);
	--second-bg-color: var(--dark-second-background);
	--main-color: var(--dark-color);
	--second-color: var(--dark-second-color);
}

.light .logo-dark, .light .light-icon {
	display: none;
}

.dark .logo-light, .dark .dark-icon {
	display: none;
}

.bg-primary {
  background: var(--primary-color);
}

.bg-success {
  background: var(--success-color);
}

.bg-warning {
  background: var(--warning-color);
}

.bg-danger {
  background: var(--danger-color);
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: var(--main-bg-color);
	color: var(--main-color);
	margin: 0;
}

.navbar {
	display: flex;
	flex-direction: row;
	background: var(--main-bg-color);
	color: var(--main-color);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 101;
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
}

.navbar-nav {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
}

.nav-link {
	float: left;
	text-align: center;
	padding: 21px 10px;
	text-decoration: none;
	font-size: 17px;
	color: var(--second-color);
	position: relative;
}

.nav-link:hover {
	cursor: pointer;
}

.navbar-nav i {
	font-size: 1.4rem;
}

.nav-right {
	margin-left: auto;
}

.navbar-search {
	position: relative;
	margin: auto;
	width: 50%;
}

.navbar-search input {
	background: var(--second-bg-color);
	border: none;
	padding: 12px 50px 12px 50px;
	width: 100%;
	outline: none;
	color: var(--main-color);
	border-radius: 20px;
}

.navbar-search i {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: var(--second-color);
	cursor: pointer;
}

.logo {
	height: 60px;
	padding: 10px;
}

.workinglogo {
    width: 270px;
	padding: 10px;
	object-fit: cover;
}

@media only screen and (max-width: 780px) {
    #workinglogo {
        display: none;
	} 

	.card-contents .counter h1 {
		font-size: 75px;
		font-weight: normal;
		text-align: left;
		margin: 0 auto !important;
	}
}

@media only screen and (max-width: 900px) {
	#canvas-p {
		position: relative;
		left: 178px;
		margin-top: 85px;
	  }
}

.avt img {
	width: 39px;
	height: 39px;
	border-radius: 50%;
}

.avt {
	padding: 11px
}

.navbar-badge {
	font-size: .6rem;
	padding: 2px 4px;
	font-weight: 300;
	position: absolute;
	right: 5px;
	top: 9px;
	color: #fff;
	background: var(--danger-color);
	border-radius: 5px;
}

.dropdown {
	position: relative;
}

.dropdown:hover {
	cursor: pointer;
}

.dropdown-menu {
	list-style: none;
	display: none;
	flex-direction: column;
	position: absolute;
	right: 20%;
	top: 90%;
	background: var(--main-bg-color);
	max-width: 300px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: unset;
	border-radius: 10px;
	border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
	display: flex;
}

.notification-menu {
	min-width: 380px;
}

#notification-side {
	background: var(--main-bg-color);
	margin: -10px 0 0 0;
	padding-left: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	
}

.dropdown-menu-content {
	max-height: 567px;
	overflow-y: auto;
}

.dropdown-menu-item {
	width: 100%;
}

.dropdown-menu-items {
	width: 100%;
	margin: 0 0 17px 0;
}

.dropdown-menu-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--main-color);
}

.dropdown-menu-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.dropdown-menu-link i {
	font-size: 1.25rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
	font-size: 15px;
	width: 298px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.dropdown-menu-link span > span {
	font-size: 10px;
}

.dropdown-menu-link:hover {
	cursor: pointer;
	background: var(--second-bg-color);
}

/* side menu */


.side-menu-link {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: var(--main-color);
}

.side-menu-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.side-menu-link i {
	font-size: 1.25rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.side-menu-link span {
	font-size: 15px;
	width: 75%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.side-menu-link span > span {
	font-size: 10px;
}

.side-menu-link:hover {
	cursor: pointer;
	background: var(--second-bg-color);
}


.dropdown-menu-header {
	padding: 20px;
	text-align: center;
	border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-header span{
	font-weight: 700;
	font-size: large;
}

.dropdown-menu-footer {
	padding: 20px;
	text-align: center;
	border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
	display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
	display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.4);
	border-radius: 10rem;
	border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
	background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
	background: transparent;
}

.wrapper {
	padding: 10px;
	margin-left: 82px;
	padding-top: 75px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.wrap {
	padding: 0;
	margin-left:0;
	padding-top: 20px;
	background: var(--second-bg-color);
	transition: margin-left .5s;
}

.sidebar {
	width: 82px;
	height: 100vh;
	position: fixed;
	margin-top: 65px;
	background: var(--main-bg-color);
	box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
	overflow: hidden;
	z-index: 100;
	transition: width .5s;
}

.sidebar:hover {
	width: 250px;
}

.sidebar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.sidebar-nav-item {
	width: 100%;
}

.sidebar-nav-link {
	display: flex;
	align-items: center;
	color: var(--main-color);
	text-decoration: none;
}

.sidebar-nav-link i {
	font-size: 1.5rem;
	color: var(--second-color);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
	min-width: 82px;
	height: 50px;
	position: relative;
}

.sidebar-nav-link:hover {
	background: var(--second-bg-color);
}

.sidebar-nav-link.active {
	background: var(--second-bg-color);
	color: var(--danger-color);
}

.sidebar-nav-link.active div {
	border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
	color: var(--danger-color);
	margin-left: -5px;
}

.sidebar-expand .sidebar {
	width: 250px;
}

.sidebar-expand .wrapper {
	margin-left: 250px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.row:after, .row:before {
	box-sizing: border-box;
}

[class*="col-"] {
	padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {

	.sidebar {
		width: 0;
	}
	.wrapper {
		margin-left: 0;
	}
	.sidebar-expand .wrapper {
		margin-left: 0;
	}
	.nav-right .nav-item {
		display: none;
	}
	.nav-right .mode, .nav-right .avt-wrapper {
		display: list-item;;
	}
	.navbar-search {
		display: none;
	}
	.dropdown-menu {
		max-width: 300px;
	}
	[class*="col-"] {
		width: 100%
	}
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
	.col-m-1 {width: 8.33%;}
	.col-m-2 {width: 16.66%;}
	.col-m-3 {width: 25%;}
	.col-m-4 {width: 33.33%;}
	.col-m-5 {width: 41.66%;}
	.col-m-6 {width: 50%;}
	.col-m-7 {width: 58.33%;}
	.col-m-8 {width: 66.66%;}
	.col-m-9 {width: 75%;}
	.col-m-10 {width: 83.33%;}
	.col-m-11 {width: 91.66%;}
	.col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-x {width: 63.77%;}
	.col-y {width: 35.33%;}
	.col-z {width: 107%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
	.col-xl-1 {width: 8.33%;}
	.col-xl-2 {width: 16.66%;}
	.col-xl-3 {width: 25%;}
	.col-xl-4 {width: 33.33%;}
	.col-xl-5 {width: 41.66%;}
	.col-xl-6 {width: 50%;}
	.col-xl-7 {width: 58.33%;}
	.col-xl-8 {width: 66.66%;}
	.col-xl-9 {width: 75%;}
	.col-xl-10 {width: 83.33%;}
	.col-xl-11 {width: 91.66%;}
	.col-xl-12 {width: 100%;}
}

.counter {
	padding: 0;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.count {
	padding: 1px;
	text-align: center;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.counters {
	padding: 16px;
	text-align: left;
	color: #fff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* @media only screen and (min-width: 1023px) {
	.counter {
		padding: 1px !important;
	}
} */

.count p {
	font-size: smaller;
}

.counters a {
	color: white;
}

.counters i {
	color: #C4C4C4;
	margin: 0;
}

.couner i {
	font-size: 50px;
}

.star{
	color: black !important;
}

.card {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.card-header {
	padding: 15px 30px;
	border-bottom: 1px solid var(--second-bg-color);
	position: relative;
}

.card-header i {
	color: var(--main-color);
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}

.card-header i:hover {
	cursor: pointer;
}

.card-header h3 {
	margin: 0;
}

.card-content {
	padding: 20px;
	overflow-x: auto;
}

.card-contents .counter {
	background: var(--main-bg-color);
	color: var(--main-color);
	border-radius: 10px;
	font-weight: normal;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-contents .counter h1 {
	font-size: 75px;
	font-weight: normal;
	text-align: left;
    margin: 40% auto;
}

.card-contents .counter #middle {
	font-weight: normal;
	text-align: left;
    margin: 0 0 0 0 !important;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table td {
	border-top: 1px solid var(--second-bg-color);
	padding: 15px;
}

table th {
	border-top: 1px solid var(--second-bg-color);
	border-bottom: 1px solid var(--second-bg-color);
	padding: 15px 12px;
	text-align: left;
}

.dot i {
	display: inline-block;
	width: .385rem;
	height: .385rem;
	margin-right: .385rem;
	vertical-align: middle;
	border-radius: 50%;
}

.progress-wrapper {
	margin-bottom: 15px;
}

.float-right {
	float: right;
}

.progress {
	height: 10px;
	overflow: hidden;
	display: flex;
	font-size: .75rem;
	background: rgba(0,0,0,0.05);
	border-radius: .25rem;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

/* Calendar */

.calendar {
	margin: auto;
	border-radius: 10px 10px 10px 10px;
	width: auto;
	background-color: #fff;
	box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.2);

}

.month {
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 40px 30px;
	text-align: center;
	background-color: #2ecc71;
	color: #fff;
}

.weekdays {
	background-color: #27ae60;
	color: #fff;
	padding: 7px 0;
	display: flex;
}

.days {
	font-weight: 300;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.weekdays div,
.days div {
	text-align: center;
	width: 14.28%;
}

.days div {
	padding: 10px 0;
	margin-bottom: 10px;
	transition: all 0.4s;
}

.prev_date {
	color: #999;
}

.today {
	background-color: #27ae60;
	color: #fff;
}

.days div:hover {
	cursor: pointer;
	background-color: #dfe6e9
}

.prev,
.next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	font-size: 23px;
	background-color: rgba(0, 0, 0, 0.1);
	transition: all 0.4s;
}

.prev:hover,
.next:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.2);
}

#month {
	font-size: 30px;
	font-weight: 500;
}

/* Chart js */

.canvas-con {
  display: flex;
  align-items: center;
  margin: -41px 50px -20px 0;
  justify-content: center;
  min-height: 365px;
  position: relative;
}

#canvas-p {
  position: relative;
  left: 190px;
  margin-top: 85px;
}

.canvas-con-inner {
  height: 100%;
}

.canvas-con-inner, .legend-con {
  display: inline-block;
}

.legend-con {
  font-family: Roboto;
  display: inline-block;
}
.legend-con ul {
  list-style: none;
}
.legend-con li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.legend-con li span {
  display: inline-block;
}
.legend-con li span.chart-legend {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/* Circular progress bar */

.prog {
	z-index: 0;
	margin: 10px 55px auto !important;
	width: 120px;
	height: 120px;
	line-height: 120px;
	background: none;
	margin: 0 auto;
	box-shadow: none;
	position: relative;
  }
  .prog:after {
	content: "";
	width: 92%;
	height: 92%;
	border-radius: 50%;
	border: 5px solid #c7e5ff;
	position: absolute;
	top: 0;
	left: 0;
  }
  .prog > span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
  }
  .prog .prog-left {
	left: 0;
  }
  .prog .prog-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 5px;
	border-style: solid;
	position: absolute;
	top: 0;
	border-color: blue;
  }
  .prog .prog-left .prog-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
  }
  .prog .prog-right {
	right: 0;
  }
  .prog .prog-right .prog-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
  }
  .prog .prog-value {
	display: flex;
	border-radius: 50%;
	font-size: 1rem;
	text-align: center;
	line-height: 20px;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	font-weight: 300;
  }
  .prog .prog-value span {
	font-size: 12px;
	text-transform: uppercase;
  }
  
  /* This for loop creates the necessary css animation names 
  Due to the split circle of prog-left and prog right, we must use the animations on each side. 
  */
  .prog[data-percentage="1"] .prog-right .prog-bar {
	animation: loading-1 0.5s linear forwards;
  }
  .prog[data-percentage="1"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="2"] .prog-right .prog-bar {
	animation: loading-2 0.5s linear forwards;
  }
  .prog[data-percentage="2"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="3"] .prog-right .prog-bar {
	animation: loading-3 0.5s linear forwards;
  }
  .prog[data-percentage="3"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="4"] .prog-right .prog-bar {
	animation: loading-4 0.5s linear forwards;
  }
  .prog[data-percentage="4"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="5"] .prog-right .prog-bar {
	animation: loading-5 0.5s linear forwards;
  }
  .prog[data-percentage="5"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="6"] .prog-right .prog-bar {
	animation: loading-6 0.5s linear forwards;
  }
  .prog[data-percentage="6"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="7"] .prog-right .prog-bar {
	animation: loading-7 0.5s linear forwards;
  }
  .prog[data-percentage="7"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="8"] .prog-right .prog-bar {
	animation: loading-8 0.5s linear forwards;
  }
  .prog[data-percentage="8"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="9"] .prog-right .prog-bar {
	animation: loading-9 0.5s linear forwards;
  }
  .prog[data-percentage="9"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="10"] .prog-right .prog-bar {
	animation: loading-10 0.5s linear forwards;
  }
  .prog[data-percentage="10"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="11"] .prog-right .prog-bar {
	animation: loading-11 0.5s linear forwards;
  }
  .prog[data-percentage="11"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="12"] .prog-right .prog-bar {
	animation: loading-12 0.5s linear forwards;
  }
  .prog[data-percentage="12"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="13"] .prog-right .prog-bar {
	animation: loading-13 0.5s linear forwards;
  }
  .prog[data-percentage="13"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="14"] .prog-right .prog-bar {
	animation: loading-14 0.5s linear forwards;
  }
  .prog[data-percentage="14"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="15"] .prog-right .prog-bar {
	animation: loading-15 0.5s linear forwards;
  }
  .prog[data-percentage="15"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="16"] .prog-right .prog-bar {
	animation: loading-16 0.5s linear forwards;
  }
  .prog[data-percentage="16"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="17"] .prog-right .prog-bar {
	animation: loading-17 0.5s linear forwards;
  }
  .prog[data-percentage="17"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="18"] .prog-right .prog-bar {
	animation: loading-18 0.5s linear forwards;
  }
  .prog[data-percentage="18"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="19"] .prog-right .prog-bar {
	animation: loading-19 0.5s linear forwards;
  }
  .prog[data-percentage="19"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="20"] .prog-right .prog-bar {
	animation: loading-20 0.5s linear forwards;
  }
  .prog[data-percentage="20"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="21"] .prog-right .prog-bar {
	animation: loading-21 0.5s linear forwards;
  }
  .prog[data-percentage="21"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="22"] .prog-right .prog-bar {
	animation: loading-22 0.5s linear forwards;
  }
  .prog[data-percentage="22"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="23"] .prog-right .prog-bar {
	animation: loading-23 0.5s linear forwards;
  }
  .prog[data-percentage="23"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="24"] .prog-right .prog-bar {
	animation: loading-24 0.5s linear forwards;
  }
  .prog[data-percentage="24"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="25"] .prog-right .prog-bar {
	animation: loading-25 0.5s linear forwards;
  }
  .prog[data-percentage="25"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="26"] .prog-right .prog-bar {
	animation: loading-26 0.5s linear forwards;
  }
  .prog[data-percentage="26"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="27"] .prog-right .prog-bar {
	animation: loading-27 0.5s linear forwards;
  }
  .prog[data-percentage="27"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="28"] .prog-right .prog-bar {
	animation: loading-28 0.5s linear forwards;
  }
  .prog[data-percentage="28"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="29"] .prog-right .prog-bar {
	animation: loading-29 0.5s linear forwards;
  }
  .prog[data-percentage="29"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="30"] .prog-right .prog-bar {
	animation: loading-30 0.5s linear forwards;
  }
  .prog[data-percentage="30"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="31"] .prog-right .prog-bar {
	animation: loading-31 0.5s linear forwards;
  }
  .prog[data-percentage="31"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="32"] .prog-right .prog-bar {
	animation: loading-32 0.5s linear forwards;
  }
  .prog[data-percentage="32"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="33"] .prog-right .prog-bar {
	animation: loading-33 0.5s linear forwards;
  }
  .prog[data-percentage="33"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="34"] .prog-right .prog-bar {
	animation: loading-34 0.5s linear forwards;
  }
  .prog[data-percentage="34"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="35"] .prog-right .prog-bar {
	animation: loading-35 0.5s linear forwards;
  }
  .prog[data-percentage="35"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="36"] .prog-right .prog-bar {
	animation: loading-36 0.5s linear forwards;
  }
  .prog[data-percentage="36"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="37"] .prog-right .prog-bar {
	animation: loading-37 0.5s linear forwards;
  }
  .prog[data-percentage="37"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="38"] .prog-right .prog-bar {
	animation: loading-38 0.5s linear forwards;
  }
  .prog[data-percentage="38"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="39"] .prog-right .prog-bar {
	animation: loading-39 0.5s linear forwards;
  }
  .prog[data-percentage="39"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="40"] .prog-right .prog-bar {
	animation: loading-40 0.5s linear forwards;
  }
  .prog[data-percentage="40"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="41"] .prog-right .prog-bar {
	animation: loading-41 0.5s linear forwards;
  }
  .prog[data-percentage="41"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="42"] .prog-right .prog-bar {
	animation: loading-42 0.5s linear forwards;
  }
  .prog[data-percentage="42"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="43"] .prog-right .prog-bar {
	animation: loading-43 0.5s linear forwards;
  }
  .prog[data-percentage="43"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="44"] .prog-right .prog-bar {
	animation: loading-44 0.5s linear forwards;
  }
  .prog[data-percentage="44"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="45"] .prog-right .prog-bar {
	animation: loading-45 0.5s linear forwards;
  }
  .prog[data-percentage="45"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="46"] .prog-right .prog-bar {
	animation: loading-46 0.5s linear forwards;
  }
  .prog[data-percentage="46"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="47"] .prog-right .prog-bar {
	animation: loading-47 0.5s linear forwards;
  }
  .prog[data-percentage="47"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="48"] .prog-right .prog-bar {
	animation: loading-48 0.5s linear forwards;
  }
  .prog[data-percentage="48"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="49"] .prog-right .prog-bar {
	animation: loading-49 0.5s linear forwards;
  }
  .prog[data-percentage="49"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="50"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="50"] .prog-left .prog-bar {
	animation: 0;
  }
  
  .prog[data-percentage="51"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="51"] .prog-left .prog-bar {
	animation: loading-1 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="52"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="52"] .prog-left .prog-bar {
	animation: loading-2 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="53"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="53"] .prog-left .prog-bar {
	animation: loading-3 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="54"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="54"] .prog-left .prog-bar {
	animation: loading-4 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="55"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="55"] .prog-left .prog-bar {
	animation: loading-5 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="56"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="56"] .prog-left .prog-bar {
	animation: loading-6 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="57"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="57"] .prog-left .prog-bar {
	animation: loading-7 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="58"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="58"] .prog-left .prog-bar {
	animation: loading-8 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="59"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="59"] .prog-left .prog-bar {
	animation: loading-9 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="60"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="60"] .prog-left .prog-bar {
	animation: loading-10 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="61"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="61"] .prog-left .prog-bar {
	animation: loading-11 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="62"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="62"] .prog-left .prog-bar {
	animation: loading-12 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="63"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="63"] .prog-left .prog-bar {
	animation: loading-13 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="64"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="64"] .prog-left .prog-bar {
	animation: loading-14 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="65"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="65"] .prog-left .prog-bar {
	animation: loading-15 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="66"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="66"] .prog-left .prog-bar {
	animation: loading-16 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="67"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="67"] .prog-left .prog-bar {
	animation: loading-17 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="68"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="68"] .prog-left .prog-bar {
	animation: loading-18 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="69"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="69"] .prog-left .prog-bar {
	animation: loading-19 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="70"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="70"] .prog-left .prog-bar {
	animation: loading-20 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="71"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="71"] .prog-left .prog-bar {
	animation: loading-21 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="72"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="72"] .prog-left .prog-bar {
	animation: loading-22 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="73"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="73"] .prog-left .prog-bar {
	animation: loading-23 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="74"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="74"] .prog-left .prog-bar {
	animation: loading-24 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="75"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="75"] .prog-left .prog-bar {
	animation: loading-25 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="76"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="76"] .prog-left .prog-bar {
	animation: loading-26 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="77"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="77"] .prog-left .prog-bar {
	animation: loading-27 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="78"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="78"] .prog-left .prog-bar {
	animation: loading-28 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="79"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="79"] .prog-left .prog-bar {
	animation: loading-29 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="80"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="80"] .prog-left .prog-bar {
	animation: loading-30 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="81"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="81"] .prog-left .prog-bar {
	animation: loading-31 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="82"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="82"] .prog-left .prog-bar {
	animation: loading-32 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="83"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="83"] .prog-left .prog-bar {
	animation: loading-33 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="84"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="84"] .prog-left .prog-bar {
	animation: loading-34 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="85"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="85"] .prog-left .prog-bar {
	animation: loading-35 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="86"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="86"] .prog-left .prog-bar {
	animation: loading-36 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="87"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="87"] .prog-left .prog-bar {
	animation: loading-37 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="88"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="88"] .prog-left .prog-bar {
	animation: loading-38 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="89"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="89"] .prog-left .prog-bar {
	animation: loading-39 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="90"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="90"] .prog-left .prog-bar {
	animation: loading-40 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="91"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="91"] .prog-left .prog-bar {
	animation: loading-41 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="92"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="92"] .prog-left .prog-bar {
	animation: loading-42 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="93"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="93"] .prog-left .prog-bar {
	animation: loading-43 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="94"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="94"] .prog-left .prog-bar {
	animation: loading-44 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="95"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="95"] .prog-left .prog-bar {
	animation: loading-45 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="96"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="96"] .prog-left .prog-bar {
	animation: loading-46 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="97"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="97"] .prog-left .prog-bar {
	animation: loading-47 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="98"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="98"] .prog-left .prog-bar {
	animation: loading-48 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="99"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="99"] .prog-left .prog-bar {
	animation: loading-49 0.5s linear forwards 0.5s;
  }
  
  .prog[data-percentage="100"] .prog-right .prog-bar {
	animation: loading-50 0.5s linear forwards;
  }
  .prog[data-percentage="100"] .prog-left .prog-bar {
	animation: loading-50 0.5s linear forwards 0.5s;
  }
  
  @keyframes loading-1 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(3.6);
	  transform: rotate(3.6deg);
	}
  }
  @keyframes loading-2 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(7.2);
	  transform: rotate(7.2deg);
	}
  }
  @keyframes loading-3 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(10.8);
	  transform: rotate(10.8deg);
	}
  }
  @keyframes loading-4 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(14.4);
	  transform: rotate(14.4deg);
	}
  }
  @keyframes loading-5 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(18);
	  transform: rotate(18deg);
	}
  }
  @keyframes loading-6 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(21.6);
	  transform: rotate(21.6deg);
	}
  }
  @keyframes loading-7 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(25.2);
	  transform: rotate(25.2deg);
	}
  }
  @keyframes loading-8 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(28.8);
	  transform: rotate(28.8deg);
	}
  }
  @keyframes loading-9 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(32.4);
	  transform: rotate(32.4deg);
	}
  }
  @keyframes loading-10 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(36);
	  transform: rotate(36deg);
	}
  }
  @keyframes loading-11 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(39.6);
	  transform: rotate(39.6deg);
	}
  }
  @keyframes loading-12 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(43.2);
	  transform: rotate(43.2deg);
	}
  }
  @keyframes loading-13 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(46.8);
	  transform: rotate(46.8deg);
	}
  }
  @keyframes loading-14 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(50.4);
	  transform: rotate(50.4deg);
	}
  }
  @keyframes loading-15 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(54);
	  transform: rotate(54deg);
	}
  }
  @keyframes loading-16 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(57.6);
	  transform: rotate(57.6deg);
	}
  }
  @keyframes loading-17 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(61.2);
	  transform: rotate(61.2deg);
	}
  }
  @keyframes loading-18 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(64.8);
	  transform: rotate(64.8deg);
	}
  }
  @keyframes loading-19 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(68.4);
	  transform: rotate(68.4deg);
	}
  }
  @keyframes loading-20 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(72);
	  transform: rotate(72deg);
	}
  }
  @keyframes loading-21 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(75.6);
	  transform: rotate(75.6deg);
	}
  }
  @keyframes loading-22 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(79.2);
	  transform: rotate(79.2deg);
	}
  }
  @keyframes loading-23 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(82.8);
	  transform: rotate(82.8deg);
	}
  }
  @keyframes loading-24 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(86.4);
	  transform: rotate(86.4deg);
	}
  }
  @keyframes loading-25 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(90);
	  transform: rotate(90deg);
	}
  }
  @keyframes loading-26 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(93.6);
	  transform: rotate(93.6deg);
	}
  }
  @keyframes loading-27 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(97.2);
	  transform: rotate(97.2deg);
	}
  }
  @keyframes loading-28 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(100.8);
	  transform: rotate(100.8deg);
	}
  }
  @keyframes loading-29 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(104.4);
	  transform: rotate(104.4deg);
	}
  }
  @keyframes loading-30 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(108);
	  transform: rotate(108deg);
	}
  }
  @keyframes loading-31 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(111.6);
	  transform: rotate(111.6deg);
	}
  }
  @keyframes loading-32 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(115.2);
	  transform: rotate(115.2deg);
	}
  }
  @keyframes loading-33 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(118.8);
	  transform: rotate(118.8deg);
	}
  }
  @keyframes loading-34 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(122.4);
	  transform: rotate(122.4deg);
	}
  }
  @keyframes loading-35 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(126);
	  transform: rotate(126deg);
	}
  }
  @keyframes loading-36 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(129.6);
	  transform: rotate(129.6deg);
	}
  }
  @keyframes loading-37 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(133.2);
	  transform: rotate(133.2deg);
	}
  }
  @keyframes loading-38 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(136.8);
	  transform: rotate(136.8deg);
	}
  }
  @keyframes loading-39 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(140.4);
	  transform: rotate(140.4deg);
	}
  }
  @keyframes loading-40 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(144);
	  transform: rotate(144deg);
	}
  }
  @keyframes loading-41 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(147.6);
	  transform: rotate(147.6deg);
	}
  }
  @keyframes loading-42 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(151.2);
	  transform: rotate(151.2deg);
	}
  }
  @keyframes loading-43 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(154.8);
	  transform: rotate(154.8deg);
	}
  }
  @keyframes loading-44 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(158.4);
	  transform: rotate(158.4deg);
	}
  }
  @keyframes loading-45 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(162);
	  transform: rotate(162deg);
	}
  }
  @keyframes loading-46 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(165.6);
	  transform: rotate(165.6deg);
	}
  }
  @keyframes loading-47 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(169.2);
	  transform: rotate(169.2deg);
	}
  }
  @keyframes loading-48 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(172.8);
	  transform: rotate(172.8deg);
	}
  }
  @keyframes loading-49 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(176.4);
	  transform: rotate(176.4deg);
	}
  }
  @keyframes loading-50 {
	0% {
	  -webkit-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	100% {
	  -webkit-transform: rotate(180);
	  transform: rotate(180deg);
	}
  }

   /*======================================================
                            Slider
    ======================================================*/

	#slider {
        width:500px;
        top:100px;
        position: fixed;
        }
        #header {
        z-index: 2;
        width: 743px;
        left: 117px;
        height: 480px;
        position:absolute;
        right:0;
        border:1px solid #E8F2F9;
        margin-left:40px;
        padding:20px 40px;
        border-radius:3px;
        background-color: #E8F2F9;
        box-shadow:0 0 8px gray
        }
        #sidebar {
        z-index: 2;
        position:absolute;
        /* top:180px; */
        top: 100px;
        cursor: pointer;
        left:113px;
        background:#4A99D3 !important;
        box-shadow:0 0 8px gray
        }
        #sidebar1 {
        z-index: 2;
        position:absolute;
        /* top:180px; */
        top: 100px;
        cursor: pointer;
        left:113px;
        background:#4A99D3 !important;
        box-shadow:0 0 8px gray
        }
        /* h3 {
        font-family:'Roboto Slab',serif
        }
        input[type=text] {
        margin-top:10px;
        padding:6px;
        width:100%;
        font-size:15px;
        border-radius:2px;
        border:3px solid #98d0f1
        }
        h4 {
        font-size:15px
        }
        div#title {
        position:absolute;
        top:300px;
        left:650px
        }
        select {
        padding:6px;
        width:100%;
        font-size:15px;
        border-radius:2px;
        border:3px solid #98d0f1
        }
        textarea {
        padding:6px;
        font-size:15px;
        border-radius:2px;
        border:3px solid #98d0f1;
        margin-top:10px;
        height:80px;
        width:100%
        }
        button {
        background:#2bc1f2;
        border:none;
        color:#fff;
        width:100%;
        font-size:22px;
        font-weight:bolder;
        padding:8px 0;
        border-radius:3px;
        cursor:pointer;
        margin-top:25px
		} */
		
		/* board */

		.drag-container {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1000;
          }
          .board {
            position: relative;
          }
          .board-column {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0 10px;
            width: calc(100% / 3);
            z-index: 1;
          }
          .board-column.muuri-item-releasing {
            z-index: 2;
          }
          .board-column.muuri-item-dragging {
            z-index: 3;
            cursor: move;
          }
          .board-column-container {
            position: relative;
            width: 100%;
            height: 100%;
          }
          .board-column-header {
            position: relative;
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            padding: 0 20px;
            text-align: center;
            background: #333;
            color: #fff;
            border-radius: 5px 5px 0 0;
            font-weight: bold;
            letter-spacing: 0.5px;
            text-transform: uppercase;
          }
          @media (max-width: 600px) {
            .board-column-header {
              text-indent: -1000px;
            }
          }
          .board-column.todo .board-column-header {
            background: #4A9FF9;
          }
          .board-column.working .board-column-header {
            background: #f9944a;
          }
          .board-column.done .board-column-header {
            background: #2ac06d;
          }
          .board-column-content-wrapper {
            position: relative;
            padding: 8px;
            background: #f0f0f0;
			/* height: calc(100vh - 90px); */
			height: 100%;
            overflow-y: auto;
            border-radius: 0 0 5px 5px;
          }
          .board-column-content {
            position: relative;
            min-height: 100%;
          }
          .board-item {
            position: absolute;
            width: calc(100% - 16px);
            margin: 8px;
          }
          .board-item.muuri-item-releasing {
            z-index: 9998;
          }
          .board-item.muuri-item-dragging {
            z-index: 9999;
            cursor: move;
          }
          .board-item.muuri-item-hidden {
            z-index: 0;
          }
          .board-item-content {
            position: relative;
            padding: 20px;
            background: #fff;
            border-radius: 4px;
            font-size: 17px;
            cursor: pointer;
            -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
            box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
          }
          @media (max-width: 600px) {
            .board-item-content {
              text-align: center;
            }
            .board-item-content span {
              display: none;
            }
          }

		  
   /*======================================================
                            Footer
    ======================================================*/

    .footer {
		z-index: 100;
        position: relative;
        bottom: 0;
        display: flex;
        flex-flow: row wrap;
        padding: 0 0 0 15px;
        color: white;
        background-color: #4A99D3;
        border-top: 1px solid #e5e5e5;
      }
      
      .footer > * {
        flex: 1 100%;
      }
      
      .footer__addr {
        margin-right: 1.25em;
        margin-bottom: 2em;
      }
      
      .footer__logo {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        text-transform: lowercase;
        font-size: 1.5rem;
      }
      
      .footer__addr h2 {
        margin-top: 1.3em;
        font-size: 15px;
        font-weight: 400;
      }
      
      .nav__title {
        font-weight: 400;
        font-size: 15px;
      }
      
      .footer address {
        font-style: normal;
        color: #fff;
      }
      
      .footer__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 36px;
        max-width: max-content;
        background-color: rgb(33, 33, 33, 0.07);
        border-radius: 100px;
        color: #2f2f2f;
        line-height: 0;
        margin: 0.6em 0;
        font-size: 1rem;
        padding: 0 1.3em;
      }
      
      .footer ul {
        list-style: none;
        padding-left: 0;
      }
      
      .footer li {
        line-height: 2em;
      }
      
      .footer a {
        text-decoration: none;
      }
      
      .footer__nav {
        display: flex;
        flex-flow: row wrap;
      }
      
      .footer__nav > * {
        flex: 1 50%;
        margin-right: 1.25em;
      }
      
      .nav__ul a {
        color: #fff;
      }
      
      .nav__ul--extra {
        column-count: 2;
        column-gap: 1.25em;
      }
      
      .legal {
        display: flex;
        flex-wrap: wrap;
        color: white;
      }
      
      @media screen and (min-width: 40.375em) {

        .footer__nav > * {
          flex: 1;
        }
      
        .nav__item--extra {
          flex-grow: 2;
        }
      
        .footer__addr {
          flex: 1 0px;
        }
      
        .footer__nav {
          flex: 2 0px;
        }
      }
      

   /*======================================================
                            NewsLetter
    ======================================================*/
    
    input[type='email']{
        outline: none;
        display: inline-block;
        width: 65%;
        padding: 10px;
        border: 2px solid transparent;
        border-radius: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
    }
    
    input[type='email']:focus{
        border: 2px solid #aaa;
    }
    
    #button{
        color: rgba(0,0,0,0.6);
        text-decoration: none;
        border-radius: 5px;
        width: 33%;
        height: 38px;
        display: inline-block;
        padding: 1px;
        background: #fff;
        text-align: center;
        border: 2px solid transparent;
    }
    
    #button:hover{
        border: 2px solid #aaa;
    }
    
    @media screen and (max-width: 736px){

        input[type='email']{
            display: block;
            width: 100%;
        }
        #button{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
            -ms-box-sizing: border-box;
            width: 100%;
            display: block;
            margin-top: 5px;
        }
	}
	
	/* card multi overlapping avtar */
  
	#ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	  }
	  
	  #ul li {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 2px solid white;
		display: inline-block;
		position: relative;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
		-webkit-transition: .2s ease;
		transition: .2s ease;

		
		border: 4px solid white;
		box-shadow: 0px 3px 8px rgba(44, 44, 84, 0.2);
		cursor: pointer;
		background-size: cover;
		background-position: center center;

	  }
	  
	  #ul li:nth-child(1) { background-image: url('https://vignette.wikia.nocookie.net/arresteddevelopment/images/1/16/Season_3_Character_Promos_-_Lindsay_Bluth_F%C3%BCnke_01.jpg/revision/latest?cb=20111027201233'); }
	  #ul li:nth-child(2) { background-image: url('https://vignette.wikia.nocookie.net/arresteddevelopment/images/b/be/Season_3_Character_Promos_-_Buster_Bluth_01.jpg/revision/latest?cb=20111027201440'); }
	  #ul li:nth-child(3) { background-image: url('https://vignette.wikia.nocookie.net/arresteddevelopment/images/0/02/Season_1_Character_Promos_-_G.O.B.jpeg/revision/latest?cb=20120429230530'); }
	  #ul li:nth-child(4) { background-image: url('https://vignette.wikia.nocookie.net/arresteddevelopment/images/c/c3/Season_1_Character_Promos_-_George_Michael_Bluth_02.jpeg/revision/latest?cb=20120429230332'); }
	  #ul li:nth-child(n+2) { margin-left: -30px; }
	  
	  #ul:hover li:nth-child(n+2) {
		 margin-left: -20px;
	  }

/*style 2*/

.card-header a {
	position: absolute;
    right: 30px;
	top: 20px;
	cursor: pointer;
	text-decoration: underline;
}

#t {
	text-align: -webkit-center;
}

.t-outline-pill {
	position: absolute;
    right: 0px;
    top: -24px;
    background-color: #0A98E9;
	font-weight: 600;
	color: white;
    margin: 11px;
    height: 37px;
    width: 150px;
    padding-top: 4px;
    text-align: center;
    border-radius: 11px;
    border: 2px solid #0A98E9;
    font-family: 'Open Sans';
	background-color: none;
	cursor: pointer;
  }
  
  .t-outline-pill:hover {
	color: white;
	background-color: #0a78e9;
  }

  .card-header span {
	  font-style: italic;
	  font-size: smaller;
  }

  /* Card */

  #card1 {
	background-image: url(assets/card1.jpg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
  }
  
  .developmentgoalscard {
	  margin: 30% 50%;
	  width: 100%;
	  text-align: center;
	  color: whitesmoke;
	  font-size: large;
  }

  #card2{
	background-image: url(assets/card2.jpg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
  }
  
  .actionplancard {
	margin: 30% 50%;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	font-size: large;
  }

  #card3{
	background-image: url(assets/card3.jpg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
	background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
  }

  .reviewreportcard {
	margin: 20% 50%;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	font-size: large;
  } 